In [1]:
import pandas as pd

1)Прочесть с помощью pandas файл california_housing_test.csv

In [3]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')

2)Посмотреть сколько в нем строк и столбцов

In [4]:
df.shape

(3000, 9)

3)Определить какой тип данных имеют столбцы

In [5]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

4)Показать longitude где housing_median_age < 35

In [10]:
df.loc[df['housing_median_age'] < 35, ['longitude']]

      longitude
0       -122.05
2       -117.81
3       -118.36
4       -119.67
7       -120.65
...         ...
2989    -122.02
2991    -117.17
2995    -119.86
2996    -118.14
2997    -119.70

[1934 rows x 1 columns]

5)Показать столбцы longitude и latitude

In [15]:
df[['longitude','latitude']]

      longitude  latitude
0       -122.05     37.37
1       -118.30     34.26
2       -117.81     33.78
3       -118.36     33.82
4       -119.67     36.33
...         ...       ...
2995    -119.86     34.42
2996    -118.14     34.06
2997    -119.70     36.30
2998    -117.12     34.10
2999    -119.63     34.42

[3000 rows x 2 columns]

6)Выбрать данные где total_rooms < 2000 и population > 1500

In [16]:
df[(df['total_rooms'] < 2000) & (df['population'] > 1500)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
31,-118.30,33.91,34.0,1617.0,493.0,1530.0,500.0,2.6182,172600.0
71,-118.20,34.04,44.0,1582.0,544.0,1998.0,515.0,1.6888,125000.0
81,-118.28,34.05,44.0,968.0,384.0,1805.0,375.0,1.4801,212500.0
97,-120.97,38.42,16.0,1748.0,322.0,4930.0,287.0,4.3029,121900.0
125,-118.19,33.93,42.0,1829.0,391.0,1614.0,377.0,3.1912,146400.0
...,...,...,...,...,...,...,...,...,...
2826,-117.99,34.12,37.0,1527.0,331.0,1504.0,324.0,3.2857,130100.0
2859,-118.22,33.99,6.0,1499.0,437.0,1754.0,447.0,4.3164,143200.0
2921,-118.20,34.04,47.0,1894.0,408.0,1629.0,379.0,3.7619,127600.0
2957,-118.23,33.91,27.0,1694.0,393.0,1890.0,373.0,3.0341,89100.0
2976,-118.31,34.05,35.0,1692.0,423.0,1578.0,406.0,2.5313,305800.0

7)Определить какое максимальное и минимальное значение population

In [17]:
df['population'].max(), df['population'].min()

(11935.0, 5.0)

8)(Доп) Показать максимальное longitude, где median_income > 3

In [21]:
df[df['median_income'] > 3]['longitude'].max()

-114.98

9)(Доп) Узнать какая максимальная **total_bedrooms** при минимальном значении **households**

In [28]:
df[df['households'] == df['households'].min()]['total_bedrooms'].max()

2.0